
@{
    ViewBag.Title = "Lista de Usuarios";
}

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Registro", "Usuario")" name="NuevoRegistro" class="btn btn-white btn-info btn-bold">
            <i class="ace-icon fa fa-plus bigger-120 blue"></i>
            Nuevo Registro
        </a>
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-responsive" id="ListaMenu">
                <thead>
                    <tr>
                        <th class="text-center">Acciones</th>
                        <th class="text-center">Usuario</th>
                        <th class="text-center">Nombres y Apellidos</th>
                        <th class="text-center">Rol</th>
                        <th class="text-center">Foto</th>
                    </tr>
                </thead>
                <tbody id="ListaUsuarioTbody"></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var accesoData = {
        urlProvider: {
            llamaNuevoRegistro: '@Url.Action("Registro", "Usuario")',
            urlListar: '@Url.Action("Lista", "Usuario")',
            urlEliminar: '@Url.Action("Eliminar", "Usuario")'
        }
    };
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Acceso/index.js")"></script>
