
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewBag.Title | APPRestaurante v 1.0</title>
    <!--Styles-->
    @Styles.Render("~/bundles/CSS-Usuario")
    @Scripts.Render("~/bundles/JS-Usuario")
</head>
<body class="login-layout light-login">
    @RenderBody()

    <script type="text/javascript" src="@Url.Content("~/Scripts/general.js")"></script>
</body>
</html>
