
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewBag.Title | APPRestaurante v 1.0</title>
    <!--Styles-->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/css/ace-fonts.css" rel="stylesheet" />
    <link href="~/Assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" rel="stylesheet" />
    <script src="~/Assets/js/ace-extra.js"></script>

    <!--[if lte IE 9]>
        <link href="@Url.Content("~/Assets/css/ace-part2.css")" rel="stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
        <link href="@Url.Content("~/Assets/css/ace-ie.css")" rel ="stylesheet" />
    <![endif]-->
    <!--[if lte IE 8]>
        <script src="@Url.Content("~/Assets/js/html5shiv.js")"></script>
        <script src="@Url.Content("~/Assets/js/respond.js")"></script>
    <![endif]-->
</head>
<body class="no-skin">

    @Html.Partial("~/Areas/Admin/Views/Shared/_Navbar.cshtml")

    <div class="main-container container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        @Html.Partial("~/Areas/Admin/Views/Shared/_Sidebar.cshtml")

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">Inicio</a>
                        </li>
                        <li class="active">Dashboard</li>
                    </ul>
                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div>
                </div>
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>

        @Html.Partial("~/Areas/Admin/Views/Shared/_Footer.cshtml")

    </div>
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='@Url.Content("~/Assets/js/jquery.js")'>" + "<" + "/script>");
    </script>
    <!-- <![endif]-->
    <!--[if IE]>
        <script type="text/javascript">
            window.jQuery || document.write("<script src='@Url.Content("~/Assets/js/jquery1x.js")'>"+"<"+"/script>");
        </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='@Url.Content("~/Assets/js/jquery.mobile.custom.js")'>" + "<" + "/script>");
    </script>
    <script src="~/Assets/js/bootstrap.js"></script>
    <!--[if lte IE 8]>
        <script src="~/Assets/js/excanvas.js"></script>
    <![endif]-->
    <script src="~/Assets/js/jquery-ui.custom.js"></script>
    <script src="~/Assets/js/jquery.ui.touch-punch.js"></script>
    <script src="~/Assets/js/jquery.easypiechart.js"></script>
    <script src="~/Assets/js/jquery.sparkline.js"></script>
    <script src="~/Assets/js/flot/jquery.flot.js"></script>
    <script src="~/Assets/js/flot/jquery.flot.pie.js"></script>
    <script src="~/Assets/js/flot/jquery.flot.resize.js"></script>
    <script src="~/Assets/js/ace/elements.scroller.js"></script>
    <script src="~/Assets/js/ace/elements.colorpicker.js"></script>
    <script src="~/Assets/js/ace/elements.fileinput.js"></script>
    <script src="~/Assets/js/ace/elements.typeahead.js"></script>
    <script src="~/Assets/js/ace/elements.wysiwyg.js"></script>
    <script src="~/Assets/js/ace/elements.spinner.js"></script>
    <script src="~/Assets/js/ace/elements.treeview.js"></script>
    <script src="~/Assets/js/ace/elements.wizard.js"></script>
    <script src="~/Assets/js/ace/elements.aside.js"></script>
    <script src="~/Assets/js/ace/ace.js"></script>
    <script src="~/Assets/js/ace/ace.ajax-content.js"></script>
    <script src="~/Assets/js/ace/ace.touch-drag.js"></script>
    <script src="~/Assets/js/ace/ace.sidebar.js"></script>
    <script src="~/Assets/js/ace/ace.sidebar-scroll-1.js"></script>
    <script src="~/Assets/js/ace/ace.submenu-hover.js"></script>
    <script src="~/Assets/js/ace/ace.widget-box.js"></script>
    <script src="~/Assets/js/ace/ace.settings.js"></script>
    <script src="~/Assets/js/ace/ace.settings-rtl.js"></script>
    <script src="~/Assets/js/ace/ace.settings-skin.js"></script>
    <script src="~/Assets/js/ace/ace.widget-on-reload.js"></script>
    <script src="~/Assets/js/ace/ace.searchbox-autocomplete.js"></script>

    <link href="~/Assets/css/ace.onpage-help.css" rel="stylesheet" />
    <link href="~/Assets/css/sunburst.css" rel="stylesheet" />

    <script src="~/Assets/js/ace/elements.onpage-help.js"></script>
    <script src="~/Assets/js/ace/ace.onpage-help.js"></script>
    <script src="~/Assets/js/rainbow.js"></script>
    <script src="~/Assets/js/generic.js"></script>
    <script src="~/Assets/js/html.js"></script>
    <script src="~/Assets/js/css.js"></script>
    <script src="~/Assets/js/javascript.js"></script>
</body>
</html>
