@{
    var permisos = (IEnumerable<APPRestaurante.Models.Permiso>)ViewBag.Permisos;
    string controlador = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    
}

<div id="sidebar" class="sidebar                  responsive sidebar-fixed">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>

        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>
            <span class="btn btn-info"></span>
            <span class="btn btn-warning"></span>
            <span class="btn btn-danger"></span>
        </div>
    </div>

    <ul class="nav nav-list">
        @foreach (var item in ViewBag.Permisos)
        {
            if (item.id == 1)
            {
                <li class="@(controlador.ToUpper() == item.controlador.ToUpper() ? "active" : "")">
                    <a href="@item.url">
                        <i class="@item.icono"></i>
                        <span class="menu-text"> @item.descripcion.ToUpper() </span>
                    </a>

                    <b class="arrow"></b>
                </li>
            }
            else
            {
                if (item.padre == 0)
                {
                    <li class="">
                        <a href="@item.url" class="dropdown-toggle">
                            <i class="@item.icono"></i>
                            <span class="menu-text"> @item.descripcion.ToUpper() </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            @foreach (var i in ViewBag.Permisos)
                            {
                                if (item.id == i.padre)
                                {
                                    <li class="@(controlador.ToUpper() == i.controlador.ToUpper() ? "active" : "")">
                                        <a href="@i.url">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            @i.descripcion
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
        }
    </ul>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>
