@using APPRestaurante.Models
@{
    List<Menu> Bebidas = ViewBag.Bebida;
    List<Menu> Entrada = ViewBag.Entrada;
    List<Menu> Fondo = ViewBag.Fondo;
    List<Menu> Postre = ViewBag.Postre;

}

@if (Fondo.Count > 0)
{
    <div class="container">
        <h3 class="text-center">Plato de fondo</h3>
        <div class="resCarousel" data-items="2-2-2-2" data-slide="2" data-interval="5000" data-speed="600" data-animator="lazy">
            <div class="resCarousel-inner">
                @foreach (var item in Fondo)
                {
                    <div class="item">
                        <div class="tile">
                            <div style="background: url('../../Uploads/Menu/@item.foto') center center no-repeat; height: 250px; background-size: cover; color: white;">
                                <h1>S/ @item.precioString</h1>
                            </div>
                            <h3 class="text-center text-uppercase">@item.titulo</h3>
                            <p class="text-justify" style="padding: 20px;">@item.descripcion.ToString().Substring(0, 150)...</p>
                            <p>
                                <button class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> Agregar</button>
                            </p>
                            <hr />
                        </div>
                    </div>
                }
            </div>
            <button class='btn btn-default leftRs'><</button>
            <button class='btn btn-default rightRs'>></button>
        </div>
    </div>
}

@if (Entrada.Count > 0)
{
    <div class="container p8">
        <hr />
        <h3 class="text-center">Entradas</h3>
        <div class="resCarousel" data-items="2-2-2-2" data-slide="2" data-interval="5000" data-speed="600" data-animator="lazy">
            <div class="resCarousel-inner">
                @foreach (var item in Entrada)
                {
                    <div class="item">
                        <div class="tile">
                            <div style="background: url('../../Uploads/Menu/@item.foto') center center no-repeat; height: 250px; background-size: cover; color: white;">
                                <h1>S/ @item.precioString</h1>
                            </div>
                            <h3 class="text-center text-uppercase">@item.titulo</h3>
                            <p class="text-justify" style="padding: 20px;">@item.descripcion.ToString().Substring(0, 150)...</p>
                            <p>
                                <button class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> Agregar</button>
                            </p>
                            <hr />
                        </div>
                    </div>
                }
            </div>
            <button class='btn btn-default leftRs'><</button>
            <button class='btn btn-default rightRs'>></button>
        </div>
    </div>
}

@if (Postre.Count > 0)
{
    <div class="container p8">
        <hr />
        <h3 class="text-center">Postres</h3>
        <div class="resCarousel" data-items="2-2-2-2" data-slide="2" data-interval="5000" data-speed="600" data-animator="lazy">
            <div class="resCarousel-inner">
                @foreach (var item in Postre)
                {
                    <div class="item">
                        <div class="tile">
                            <div style="background: url('../../Uploads/Menu/@item.foto') center center no-repeat; height: 250px; background-size: cover; color: white;">
                                <h1>S/ @item.precioString</h1>
                            </div>
                            <h3 class="text-center text-uppercase">@item.titulo</h3>
                            <p class="text-justify" style="padding: 20px;">@item.descripcion.ToString().Substring(0, 100)...</p>
                            <p>
                                <button class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> Agregar</button>
                            </p>
                            <hr />
                        </div>
                    </div>
                }
            </div>
            <button class='btn btn-default leftRs'><</button>
            <button class='btn btn-default rightRs'>></button>
        </div>
    </div>
}

@if (Bebidas.Count > 0)
{
    <div class="container p8">
        <hr />
        <h3 class="text-center">Bebidas</h3>
        <div class="resCarousel" data-items="2-4-4-4" data-interval="2000" data-slide="1" data-animator="lazy">
            <div class="resCarousel-inner">
                @foreach (var item in Bebidas)
                {
                    <div class="item">
                        <div class="tile">
                            <div style="background: url('../../Uploads/Menu/@item.foto') center center no-repeat; height: 250px; background-size: cover; color: white;">
                                <h1>S/ @item.precioString</h1>
                            </div>
                            <h3 class="text-center text-uppercase">@item.titulo</h3>
                            <p class="text-justify" style="padding: 20px; height:100px;">@item.descripcion.ToString().Substring(0, 100)...</p>
                            <p>
                                <button class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> Agregar</button>
                            </p>
                            <hr />
                        </div>
                    </div>
                }
            </div>
            <button class='btn btn-default leftRs'><</button>
            <button class='btn btn-default rightRs'>></button>
        </div>
    </div>
}