@using APPRestaurante.Models
@{
    List<Menu> Bebidas = ViewBag.Bebida;
    List<Menu> Entrada = ViewBag.Entrada;
    List<Menu> Fondo = ViewBag.Fondo;
    List<Menu> Postre = ViewBag.Postre;
    List<Menu> Lista = ViewBag.Lista;
}

@if (Fondo.Count > 0)
{
    <div class="container">
        <h3 class="text-center">Plato de fondo</h3>
        <div class="resCarousel" data-items="2-2-2-2" data-slide="2" data-interval="5000" data-speed="600" data-animator="lazy">
            <div class="resCarousel-inner">
                @foreach (var item in Fondo)
                {
                    <div class="item" data-pedido="producto">
                        <div class="tile">
                            <input type="hidden" class="idMenu" value="@item.id" />
                            <div style="background: url('../../Uploads/Menu/@item.foto') center center no-repeat; height: 250px; background-size: cover; color: white;">
                                <h1>S/ @item.precioString</h1>
                            </div>
                            <h3 class="text-center text-uppercase">@item.titulo</h3>
                            <p class="text-justify" style="padding: 20px;">@item.descripcion.ToString().Substring(0, 150)...</p>
                            <p>
                                <div class="qty mt-5" data-calculo="Pedido">
                                    <span class="minus disminuirCantidad"><i class="fa fa-minus-square"></i></span>
                                    <input type="text" class="count cantidad" name="qty" value="1" disabled>
                                    <span class="plus aumentarCantidad"><i class="fa fa-plus-square"></i></span>
                                </div>
                            </p>
                            <p>
                                <button class="btn btn-primary btn-lg agregarPedido"><i class="fa fa-plus-circle"></i> Agregar</button>
                            </p>
                            <hr />
                        </div>
                    </div>
                }
            </div>
            <button class='btn btn-default leftRs'><</button>
            <button class='btn btn-default rightRs'>></button>
        </div>
    </div>
}

@if (Entrada.Count > 0)
{
    <div class="container p8">
        <hr />
        <h3 class="text-center">Entradas</h3>
        <div class="resCarousel" data-items="2-2-2-2" data-slide="2" data-interval="5000" data-speed="600" data-animator="lazy">
            <div class="resCarousel-inner">
                @foreach (var item in Entrada)
                {
                    <div class="item" data-pedido="producto">
                        <div class="tile">
                            <input type="hidden" class="idMenu" value="@item.id" />
                            <div style="background: url('../../Uploads/Menu/@item.foto') center center no-repeat; height: 250px; background-size: cover; color: white;">
                                <h1>S/ @item.precioString</h1>
                            </div>
                            <h3 class="text-center text-uppercase">@item.titulo</h3>
                            <p class="text-justify" style="padding: 20px;">@item.descripcion.ToString().Substring(0, 150)...</p>
                            <p>
                                <div class="qty mt-5" data-calculo="Pedido">
                                    <span class="minus disminuirCantidad"><i class="fa fa-minus-square"></i></span>
                                    <input type="text" class="count cantidad" name="qty" value="1" disabled>
                                    <span class="plus aumentarCantidad"><i class="fa fa-plus-square"></i></span>
                                </div>
                            </p>
                            <p>
                                <button class="btn btn-primary btn-lg agregarPedido"><i class="fa fa-plus-circle"></i> Agregar</button>
                            </p>
                            <hr />
                        </div>
                    </div>
                }
            </div>
            <button class='btn btn-default leftRs'><</button>
            <button class='btn btn-default rightRs'>></button>
        </div>
    </div>
}

@if (Postre.Count > 0)
{
    <div class="container p8">
        <hr />
        <h3 class="text-center">Postres</h3>
        <div class="resCarousel" data-items="2-2-2-2" data-slide="2" data-interval="5000" data-speed="600" data-animator="lazy">
            <div class="resCarousel-inner">
                @foreach (var item in Postre)
                {
                    <div class="item" data-pedido="producto">
                        <div class="tile">
                            <input type="hidden" class="idMenu" value="@item.id" />
                            <div style="background: url('../../Uploads/Menu/@item.foto') center center no-repeat; height: 250px; background-size: cover; color: white;">
                                <h1>S/ @item.precioString</h1>
                            </div>
                            <h3 class="text-center text-uppercase">@item.titulo</h3>
                            <p class="text-justify" style="padding: 20px;">@item.descripcion.ToString().Substring(0, 100)...</p>
                            <p>
                                <div class="qty mt-5" data-calculo="Pedido">
                                    <span class="minus disminuirCantidad"><i class="fa fa-minus-square"></i></span>
                                    <input type="text" class="count cantidad" name="qty" value="1" disabled>
                                    <span class="plus aumentarCantidad"><i class="fa fa-plus-square"></i></span>
                                </div>
                            </p>
                            <p>
                                <button class="btn btn-primary btn-lg agregarPedido"><i class="fa fa-plus-circle"></i> Agregar</button>
                            </p>
                            <hr />
                        </div>
                    </div>
                }
            </div>
            <button class='btn btn-default leftRs'><</button>
            <button class='btn btn-default rightRs'>></button>
        </div>
    </div>
}

@if (Bebidas.Count > 0)
{
    <div class="container p8">
        <hr />
        <h3 class="text-center">Bebidas</h3>
        <div class="resCarousel" data-items="2-4-4-4" data-interval="2000" data-slide="1" data-animator="lazy">
            <div class="resCarousel-inner">
                @foreach (var item in Bebidas)
                {
                    <div class="item" data-pedido="producto">
                        <div class="tile">
                            <input type="hidden" class="idMenu" value="@item.id" />
                            <div style="background: url('../../Uploads/Menu/@item.foto') center center no-repeat; height: 250px; background-size: cover; color: white;">
                                <h1>S/ @item.precioString</h1>
                            </div>
                            <h3 class="text-center text-uppercase">@item.titulo</h3>
                            <p class="text-justify" style="padding: 20px; height:100px;">@item.descripcion.ToString().Substring(0, 100)...</p>
                            <p>
                                <div class="qty mt-5" data-calculo="Pedido">
                                    <span class="minus disminuirCantidad"><i class="fa fa-minus-square"></i></span>
                                    <input type="text" class="count cantidad" name="qty" value="1" disabled>
                                    <span class="plus aumentarCantidad"><i class="fa fa-plus-square"></i></span>
                                </div>
                            </p>
                            <p>
                                <button class="btn btn-primary btn-lg agregarPedido"><i class="fa fa-plus-circle"></i> Agregar</button>
                            </p>
                            <hr />
                        </div>
                    </div>
                }
            </div>
            <button class='btn btn-default leftRs'><</button>
            <button class='btn btn-default rightRs'>></button>
        </div>
    </div>
}

<hr />
<div class="container">
    <h3>Agrega el pedido</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Mesa</label>
            <div class="col-sm-10">
                <select class="form-control">
                    <option value="">--Seleccione--</option>
                    @for (int i = 1; i <= 20; i++)
                    {
                        <option value="@i">Mesa @i</option>
                    }
                </select>
            </div>
        </div>
    </form>

    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Pedido</th>
                <th style="width:10%">Precio</th>
                <th style="width:8%">Cantidad</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody class="tb-resultadosPedido">
            
        </tbody>
        <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><h4 class="totalPedido"></h4></td>
            </tr>
            <tr>
                <td class="text-left"><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i> Limpiar todo</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><h4 class="totalPedido"></h4></td>
                <td><a href="#" class="btn btn-success btn-block"><i class="fa fa-send-o"></i> Enviar </a></td>
            </tr>
        </tfoot>
    </table>
</div>
<hr />

<script>
    var homeData = {
        urlProvider: {
            llamaNuevoRegistro: '@Url.Action("Registro", "Empleado")'
        },
        listaDatos: @Html.Raw(Json.Encode(Lista))
    };
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Inicio/index.js")"></script>