@using APPRestaurante.Models
@model Menu
@{
    ViewBag.Title = "Registro";
}
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">Registro de Menú</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right">Fecha:</label>
                            <div class="col-xs-12 col-sm-4">
                                <div class="input-group">
                                    <input class="form-control date-picker" name="Fecha" type="text" autocomplete="off" data-date-format="yyyy-mm-dd" value="@Model.fecha" />
                                    <input type="hidden" name="hdIdDetalle" value="@Model.id" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="space-2"></div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right">Titulo:</label>
                            <div class="col-xs-12 col-sm-9">
                                <div class="clearfix">
                                    <input type="text" name="Titulo" autocomplete="off" class="col-xs-12 col-sm-6" autofocus value="@Model.titulo" />
                                </div>
                            </div>
                        </div>
                        <div class="space-2"></div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right">Descripción:</label>
                            <div class="col-xs-12 col-sm-9">
                                <div class="clearfix">
                                    <textarea name="Descripcion" class="form-control" row="3">@Model.descripcion</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="space-2"></div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right">Tipo:</label>
                            <div class="col-xs-12 col-sm-9">
                                <div class="clearfix">
                                    <input type="text" name="Tipo" autocomplete="off" class="col-xs-12 col-sm-6" value="@Model.tipo" />
                                </div>
                            </div>
                        </div>
                        <div class="space-2"></div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right">Precio:</label>
                            <div class="col-xs-12 col-sm-9">
                                <div class="clearfix">
                                    <input type="text" name="Precio" autocomplete="off" class="col-xs-12 col-sm-6" value="@Model.precio" />
                                </div>
                            </div>
                        </div>
                        <div class="space-2"></div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right">Imagen:</label>
                            <div class="col-xs-12 col-sm-9">
                                <div class="clearfix">
                                    <input type="file" id="Foto" value="@Model.foto" />
                                </div>
                            </div>
                            <img src="@Url.Content("~/Uploads/Menu/")@Model.foto" class="img-responsive" alt="@Model.foto" width="250" height="250">
                        </div>
                        <hr />
                        <div class="wizard-actions">
                            <a class="btn btn-danger" href="@Url.Action("Index","Menu")">
                                <i class="fa fa-arrow-circle-o-left"></i> Atras
                            </a>
                            <button class="btn btn-success" type="button" name="btnGuardar">
                                <i class="fa fa-save"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var menuRegistroData = {
        urlProvider: {
            urlRegistro: '@Url.Action("InsertarMenu", "Menu")',
            urlPaginaLista: '@Url.Action("Index", "Menu")'
        }
    }
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Menu/registro.js")"></script>